body{
    color: #818181;
    background-color: blueviolet;
}

.carousel-inner  { 
    border: solid white;
    margin: auto;
    align-items: center;
    width:50%; 
    
  }

  .formula1 {
      color: white;
      width: 50%;
  }

  h2,p {
      color: white;
      text-align: center;
  }

  .navbar {
      background-color: rgb(168, 118, 214) ;
  }


